.icon {
    fill: #AFB1B8;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-team {
    display: flex;
    margin-top: 16px;
    padding-left: 32px;
    padding-right: 32px;
}

.icon-team>li:not(:first-child) {
    margin-left: 10px;
}

.icon-social:hover,
.icon-social:focus {
    background-color: var(--accent-color);
    border-radius: 50%;
}

.icon-social:hover svg,
.icon-social:focus svg {
    fill: #FFFFFF;
}

.icon-social {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-position: center;
    text-align: center;
    align-items: center;
    align-content: center;
    display: flex;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}